.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #cceeff;

}

.header {
    margin: 60px;
}

  .warningMsg {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    width: 250px;

}

  .invalid {
    color: red;
    margin-left: 0.25rem;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.info {
    color: orange;
    margin-left: 0.25rem;
}